[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"
black = "*"
flake8 = "*"
isort = "*"
numpy = "*"
kivy = "2.2.1"
buildozer = "1.4.0"
cython = "*"
pypiwin32 = "223"
pywin32 = "*"

[dev-packages]

[requires]
python_version = "3.10"
